*{
    margin: 0px;
    padding: 0px;
}
:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
  }
.header{
    z-index: 2;
}
a { color: var(--primary-color); }
a:hover { color: rgb(185, 55, 185); }


/*
* Custom Container
*/
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }


/* flyout nav bar  */

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
    /* display: flex; */

}

.dropdown-nav__closeNavBtn{
    position: absolute;
     top: 20px;
    right: 16px; 
    background-color: rgbA(255,255,255,0.6);
  }

  .dropdown-nav__container {
    height: 100vh;
    padding: 0 1rem;
  }

  .firstpg{
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
  }
  @media (min-width: 1400px) {
    .hero__heading {
        font-size: 3.2rem;
    }
  }
  .firstpg__video {
    position: absolute;
    top:80%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  .firstpg__overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
  }

  .firstpg__content-width {
    max-width: 540px;
  }
  .firstpg__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  .firstpg__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
  }
  .firstpg__scroll-btn .bi{
    transition-delay: 0.3 s;
    animation: bounce 0.8s infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }




  /*
* Steps Section
*/
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
  }
@media (min-width: 544px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .steps__section-thumbnail {
    height: auto;
  }
}
.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
  }
  .steps--background {
    background-color: #FEF8F9;
  }
































/* 
  @media (min-width: 544px)  {}
  @media (min-width: 768px)  {}
  @media (min-width: 992px)  {}
  @media (min-width: 1200px) {}
  @media (min-width: 1400px) {}
  @media (min-width: 1600px) {} 
*/



  @media (min-width: 1200px) {
    .container-custom { width: 1140px; }
  }
  
  @media (min-width: 1400px) {
    .container-custom { width: 1340px; }
  }
  
  @media (min-width: 1600px) {
    .container-custom { width: 1520px; }
  }
  